* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;700&display=swap');

/* seccion de iconos */

#icono_header {
    height: 45px;
}

#flecha_menu {
    height: 17px;
}

body {
    display: grid;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 80vh 35vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

main#como_funciona {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "foto"
    "texto";
}

header {
    background-color: #a3bac3;
    display: flex;
    grid-area: header;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.3em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header a {
    text-decoration: none;
    color: #006989;
}

#seccion_foto {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: foto;
    justify-content: center;
    align-items: center;
}

#imagen_index {
    height: 70%;
    width: 70%;
}

#seccion_texto {
    display: flex;
    height: 100%;
    width: 100%;
    grid-area: texto;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    padding: 0px 20px 0px 20px;
}

#seccion_texto h1 {
    text-align: center;
}

#seccion_texto p {
    text-align: justify;
}

footer {
    background-color: #808d92;
    display: grid;
    grid-area: footer;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 35% 10% 10% 10% 35%;
    grid-template-areas:
    "icono_footer"
    "texto1_footer"
    "texto2_footer"
    "texto3_footer"
    "iconos_redes";
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

#icono_footer {
    grid-area: icono_footer;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#icono_footer a img {
    height: 90px;
}

#texto1_footer {
    grid-area: texto1_footer;
}

#texto2_footer {
    grid-area: texto2_footer;
}

#texto3_footer {
    grid-area: texto3_footer;
}

#iconos_redes {
    display: flex;
    grid-area: iconos_redes;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#iconos_redes img {
    height: 30%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
}

/* Menu desplegable */

#menu_toggle {
    display: none;
}

.menu {
    background-color: #a3bac3;
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    transition: top 0.4s;
    z-index: 1;
}

#menu_toggle:checked + #menu_button + .menu {
    top: 0;
}

#grid_menu_desplegable {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:
    "header_menu"
    "opciones_menu";
}

#encabezado_menu_desplegable {
    display: flex;
    grid-area: header_menu;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

#barra_de_navegacion {
    grid-area: opciones_menu;
}

#barra_de_navegacion ul {
    list-style-type: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#list_item_botones {
    display: flex;
    height: 23%;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.boton_navegacion_turnos {
    height: 100%;
    padding: 6px 22px 6px 22px;
    border: 2px solid #006989;
    background-color: white;
    color: #006989;
    border-radius: 14px;
    font-size: 0.8em;
}

.boton_navegacion_negocio {
    height: 100%;
    padding: 6px 10px 6px 10px;
    border: 2px solid #006989;
    background-color: #006989;
    color: white;
    border-radius: 14px;
    font-size: 0.8em;
}

#encabezado_menu_desplegable a {
    padding-right: 8px;
}

.color_principal {
    color: #006989;
}

.color_base {
    color: white;
}

/* PAGINA SOBRE NOSOTROS */

#main_sobre_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#main_sobre_nosotros iframe {
    display: flex;
    grid-area: texto;
    height: 50%;
    border-radius: 20px;    
}

#cuerpo_video_sobre_nosotros iframe {
    height: 50%;
}

/* PAGINA FAQs */

#body_FAQs {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 160vh 35vh;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

#main_FAQs {
    display: grid;
    grid-area: main;
    height: 100%;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "preguntas_frecuentes"
    "consulta";
    justify-items: center;
    align-items: center;
}

#cuerpo_preguntas_frecuntes {
    grid-area: preguntas_frecuentes;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "titulo_faqs"
    "pregutas_faqs";
    justify-items: center;
    height: 90%;
    width: 90%;
}

#titulo_FAQs {
    grid-area: titulo_faqs;
    width: 90%;
    text-align: center;
}

#preguntas_FAQs {  /* padre flex */
    grid-area: pregutas_faqs;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: scroll;
}

.bloque_preguntas {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: white;
    margin: 5% 0% 5% 0%;
    border: 1px solid black;
    border-radius: 20px;
    height: auto;
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

.bloque_preguntas h2 {
    margin-bottom: 5px;
}

#cuerpo_consultas {
    display: flex;
    flex-direction: column;
    grid-area: consulta;
    height: 90%;
    width: 90%;
    background-color: #00698980;
    border-radius: 20px;
}

#cuerpo_consultas h2 {
    display: block;
    position: relative;
    margin-top: 7%;
    margin-bottom: 2%;
    font-size: 1.7em;
    text-align: center;
    color: white;
}

#cuerpo_consultas form {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5% 15% 5%;
}

#cuerpo_consultas form .entrada_info_consulta {
    height: 10%;
    width: 100%;
    border: 1px solid white;
    background-color: white;
    padding-left: 5px;
    text-align: center;
    border-radius: 12px;
}

#boton_enviar_consulta {
    height: 10%;
    width: 100%;
    background-color: #006989;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 1em;
}

/* PAGINA TURNOS */

#main_turnos {
    position: relative;
    grid-area: main;
    height: 80vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#form_turnos {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 400%;
    transition: transform 0.4s;
}

#siguiente_s1:checked + #form_turnos {
    transform: translateY(-25%);
}

#siguiente_s1 {
    display: none;
}

#siguiente_s2:checked + #siguiente_s1 + #form_turnos {
    transform: translateY(-50%);
}

#siguiente_s2 {
    display: none;
}

#siguiente_s3:checked + #siguiente_s2 + #siguiente_s1 + #form_turnos {
    transform: translateY(-75%);
}

#siguiente_s3 {
    display: none;
}

/* aspectos generales de los fieldset */

#form_turnos fieldset {
    border-style: none;
}

/* ------- SERVICIO/COMERCIO ------- */

#fieldset_servicio_comercio {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "seccion_titulo_SyC"
    "seccion_contenido_SyC"
    "seccion_botones_SyC";
}

#seccion_titulo_SyC {
    grid-area: seccion_titulo_SyC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion_contenido_SyC {
    grid-area: seccion_contenido_SyC;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

#seccion_contenido_SyC select {
    height: 10%;
    border: 2px solid lightgrey;
    border-radius: 12px;
}

#seccion_botones_SyC {
    grid-area: seccion_botones_SyC;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#btn_siguiente_s1 {
    background-color: #0069897a;
    border: none;
    color: white;
    padding: 2%;
    border-radius: 10px;
}

/* ------- ELEGIR FECHA ------- */

#fieldset_fecha {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "seccion_titulo_fecha"
    "seccion_contenido_fecha"
    "seccion_botones_fecha";
}

#seccion_titulo_fecha {
    grid-area: seccion_titulo_fecha;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion_contenido_fecha {
    grid-area: seccion_contenido_fecha;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#seccion_contenido_fecha input {
    height: 10%;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 12px;
}

#seccion_botones_fecha {
    grid-area: seccion_botones_fecha;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

#btn_siguiente_s2 {
    background-color: #0069897a;
    border: none;
    color: white;
    padding: 2%;
    border-radius: 10px;
}

#btn_volver_s2 {
    color: grey;
    text-decoration-line: underline;
}

/* ------- DATOS PERSONALES ------- */

#fieldset_datos_personales {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "seccion_titulo_datos_personales"
    "seccion_contenido_datos_personales"
    "seccion_botones_datos_personales";
}

#seccion_titulo_datos_personales {
    grid-area: seccion_titulo_datos_personales;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion_contenido_datos_personales {
    grid-area: seccion_contenido_datos_personales;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}

#seccion_contenido_datos_personales input {
    text-align: center;
    height: 10%;
    width: 100%;
    border: 2px solid lightgrey;
    border-radius: 12px;
}

#seccion_contenido_datos_personales input#observaciones_turnos {
    height: 30%;
}

#seccion_botones_datos_personales {
    grid-area: seccion_botones_datos_personales;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

#btn_siguiente_s3 {
    background-color: #0069897a;
    border: none;
    color: white;
    padding: 2%;
    border-radius: 10px;
}

#btn_volver_s3 {
    color: grey;
    text-decoration-line: underline;
}

/* ------- POLITICAS CANCELACION ------- */

#fieldset_politica_cancelacion {
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "seccion_titulo_polCanc"
    "seccion_contenido_polCanc"
    "seccion_botones_polCanc";
}

#seccion_titulo_politica_cancelacion {
    grid-area: seccion_titulo_polCanc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion_contenido_politica_cancelacion {
    grid-area: seccion_contenido_polCanc;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#seccion_contenido_politica_cancelacion p {
    text-align: start;
    height: 300px;
    width: 350px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1%;
}

#bloque_acepto_terminos_condiciones {
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#seccion_botones_politica_cancelacion {
    grid-area: seccion_botones_polCanc;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
}

#btn_reservar_turno {
    background-color: #006989;
    border: 1px solid #006989;
    color: white;
    font-size: 1em;
    padding: 2.2%;
    border-radius: 10px;
}

#btn_volver_s4 {
    color: grey;
    text-decoration-line: underline;
}


/* MI NEGOCIO */

#main_mi_negocio {
    grid-area: main;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

#contenedor_secciones {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 300%;
    transition: transform 0.4s;
    transform: translateX(-33.3333%)
}

#checkbox_mi_negocio:checked + #contenedor_secciones {
    transform: translateX(0%);
}

#checkbox_registro:checked + #checkbox_mi_negocio + #contenedor_secciones {
    transform: translate(-66.6666%);
}

#checkbox_registro {
    display: none;
}

#checkbox_mi_negocio {
    display: none;
}

#seccion_incio_sesion_mi_negocio {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nada inicio_sesion flecha";
    align-items: center;
    width: 100%;
    height: 100%;
}

#seccion_incio_sesion_mi_negocio form {
    background-color: #00698975;
    grid-area: inicio_sesion;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 10%;
    height: 60%;
    width: 100%;
}

#seccion_incio_sesion_mi_negocio form h2 {
    color: white;
    position: relative;
    font-size: 1.7em;
}

.entrada_datos_inicio_sesion {
    text-align: center;
    width: 100%;
    height: 12%;
    border: 1px solid white;
    border-radius: 10px;
}

#seccion_incio_sesion_mi_negocio form div {
    justify-content: space-between;
}

#seccion_incio_sesion_mi_negocio form div a {
    color: white;
    font-size: 0.9em;
}

#seccion_incio_sesion_mi_negocio form div input {
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
}

#seccion_incio_sesion_mi_negocio label{
    grid-area: flecha;
}

#seccion_principal_mi_negocio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#btn_mi_negocio {
    border: 2px solid #006989;
    border-radius: 12px;
    padding: 12px;
    font-size: 1.5em;
}

#btn_registrarse {
    border: 2px solid #006989;
    border-radius: 12px;
    padding: 12px;
    background-color: #006989;
    color: white;
    font-size: 1.5em;
}

#seccion_registro_mi_negocio {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
}
