/* PAGINA COMO FUNCIONA */

main#como_funciona {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    overflow: scroll;
}

#seccion_foto {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#imagen_index {
    height: 70%;
    width: 70%;
}

#seccion_texto {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1em;
    padding: 20px;
}

#seccion_texto h1 {
    text-align: center;
    margin: 20px;
}

#seccion_texto h3 {
    text-align: center;
}

#seccion_texto p {
    text-align: justify;
}