/* MI NEGOCIO */

#main_mi_negocio {
    grid-area: main;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

#contenedor_secciones {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
    width: 300%;
    transition: transform 0.4s;
    transform: translateX(-33.3333%)
}

#checkbox_mi_negocio:checked + #contenedor_secciones {
    transform: translateX(0%);
}

#checkbox_registro:checked + #checkbox_mi_negocio + #contenedor_secciones {
    transform: translate(-66.6666%);
}

#checkbox_registro {
    display: none;
}

#checkbox_mi_negocio {
    display: none;
}

#seccion_incio_sesion_mi_negocio {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 10fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nada inicio_sesion flecha";
    align-items: center;
    width: 100%;
    height: 100%;
}

#seccion_incio_sesion_mi_negocio form {
    background-color: #00698975;
    grid-area: inicio_sesion;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 12px;
    padding: 10%;
    height: 60%;
    width: 100%;
}

#seccion_incio_sesion_mi_negocio form h2 {
    color: white;
    position: relative;
    font-size: 1.7em;
}

.entrada_datos_inicio_sesion {
    text-align: center;
    width: 100%;
    height: 12%;
    border: 1px solid white;
    border-radius: 10px;
}

#seccion_incio_sesion_mi_negocio form div {
    justify-content: space-between;
}

#seccion_incio_sesion_mi_negocio form div a {
    color: white;
    font-size: 0.9em;
}

#seccion_incio_sesion_mi_negocio form div input {
    border: 1px solid white;
    border-radius: 10px;
    padding: 7px;
}

#seccion_incio_sesion_mi_negocio label{
    grid-area: flecha;
}

#seccion_principal_mi_negocio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#btn_mi_negocio {
    border: 2px solid #006989;
    border-radius: 12px;
    padding: 12px;
    font-size: 1.5em;
}

#btn_registrarse {
    border: 2px solid #006989;
    border-radius: 12px;
    padding: 12px;
    background-color: #006989;
    color: white;
    font-size: 1.5em;
}

#seccion_registro_mi_negocio {
    background-color: lightcoral;
    width: 100%;
    height: 100%;
}