/* PAGINA SOBRE NOSOTROS */

#main_sobre_nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#main_sobre_nosotros iframe {
    display: flex;
    grid-area: texto;
    height: 70%;
    width: 60%;
    border-radius: 20px;    
}

#cuerpo_video_sobre_nosotros iframe {
    height: 50%;
}

